@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    background: #f2f2f2;
    font-family: 'Quicksand', sans-serif;
}

.header {
    width: 100%;
    height: 140px;
}

.logo {
    width: 110px;
    height: 110px;
    background: url("../assets/wllppr.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    transition: 0.2s;
    cursor: pointer;
    padding: 13px;
}

.logo:hover {
    transform: scale(1.1);
}

/* LINKS */
.links {
    display: flex;
    width: 30%;
    justify-content: space-between;
    position: absolute;
    top: 70px;
    left: 30px;
}

.fa {
    font-size: 23px;
}

.link {
    color: #303030;
    text-decoration: none;
    font-size: 23px;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.link:hover {
    letter-spacing: 2.5px
}

/* MEDIA */
.media {
    display: flex;
    padding: 10px;
    font-size: 38px;
    position: absolute;
    top: 20px;
    right: 0;
}

.media > a {
    padding: 30px;
    text-decoration: none;
    color: #303030;
    transition: 0.3s ease-in-out;
}

.media > a:hover {
    transform: scale(1.2);
}

.fa-discord {
    transition: 0.3s ease-in-out;
}

.fa-discord:hover {
    color: #5662f6;
}

.fa-instagram {
    transition: 0.3s ease-in-out;
}

.fa-instagram:hover {
    color: #f58529;
}

.fa-figma {
    transition: 0.3s ease-in-out;
}

.fa-figma:hover {
    color: #52208b;
}

.fa-github {
    transition: 0.3s ease-in-out;
}

.fa-github:hover {
    color: #28707c;
}

/* MENU */
.nav {
    position: fixed;
    width: 100%;
    top: 5%;
}

.nav__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    margin: 0 2rem;
}

.nav__listitem {
    list-style: none;
    font-weight: bold;
    position: relative;
    padding: 1.5rem 1rem;
    cursor: pointer;
}

.nav__listitem:hover ul, .nav__listitem:focus ul {
    opacity: 1;
    visibility: visible;
}

.nav__listitemdrop {
    position: absolute;
    top: 4rem;
    left: -1rem;
    box-shadow: 0 0 10px #e1e5ee;
    border-radius: 9px;
    width: 12rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;
    background-color: #eee;
}

.nav__listitemdrop > li {
    list-style: none;
    padding: 0.5rem 1rem;
    border-radius: 9px;
    transition: background-color 200ms ease-in-out
}

.nav__listitemdrop > li > a {
    text-decoration: none;
    color: black;
}

.nav__listitemdrop > li:hover {
    background-color: rgb(160, 83, 83);
}

.fa-bars {
    font-size: 35px;
}

@media screen and (max-width: 910px) {
    .media {
        display: none
    }
}

@media screen and (max-width: 410px) {
    .nav {
        top: 4%;
        left: -50px;
    }
}