body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 29px;
    text-align: center;
}

.fps {
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    gap: 3rem;
    font-weight: 700;
    opacity: .4;
}

#vanta {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.fa-house {
    font-size: 40px;
}

.link {
    color: rgb(138, 8, 8);
    transition: .2s ease-in-out;
}

.link:hover {
    opacity: .6;
}

.footer {
    position: absolute;
    bottom: 0;
    padding: 20px;
    opacity: .4;
    width: 100%;
    text-align: center;
}

.about > p {
    word-wrap: break-word;
    width: 190px;
    margin-left: auto;
    margin-right: auto;
}